//主体风格颜色
@snColor:#fabc09;
//主流设备的宽度集合
//苏宁设计稿是750px
@adapterDevice:320px,350px,360px,375px,384px,400px,414px,424px,450px,480px,540px,640px,720px,750px;
//设计稿尺寸
@psdWidth:750;
//基准值
@baseSize:100;
//适配设备的种类
@len:length(@adapterDevice);
